body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header */

.logo {
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}

.logo-span {
    color: #2e2f42;
}

.header-list-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.address-list-item-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}

.header-address{
    font-style: normal
}

.header-list-link:hover, 
.header-list-link:focus,
.address-list-item-link:hover,
.address-list-item-link:focus {
        color: #404bbf;
}

/* HERO-SECTION */

.section-hero {
    background: #2e2f42;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-button {
        background-color: #4d5ae5;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            text-align: center;
            cursor: pointer;
}

.hero-button:focus,
.hero-button:hover {
    background-color: #404bbf;
}

/* section-benefits */

.benefits-list-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.benefits-list-item-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* SECTION-TEAM */

.section-team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-list-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list-item-pragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.team-list-item {
        background-color: #fff;
}

/* SECTION-PORTFOLIO */

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-list-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-list-item-paragraph {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-list-item {
    background-color: #fff;
} 

/* footer */

.footer {
    background: #2e2f42;
}

.footer-logo {
    color: #4d5ae5;
}

.logo-span-footer {
    color: #f4f4fd;
}

.footer-paragraph {
    font-weight: 400;
        font-size: 16px;    
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}